In [4]:
import datetime
import numpy as np
import pandas as pd

import pickle

In [5]:
regions = pd.read_csv("data/regions.csv")
regions.head()

             region center_city_ua center_city_en        region_alt  region_id
0           АР Крим    Сімферополь     Simferopol              Крим          1
1         Вінницька        Вінниця      Vinnytsia        Вінниччина          2
2         Волинська          Луцьк          Lutsk            Волинь          3
3  Дніпропетровська         Дніпро         Dnipro  Дніпропетровщина          4
4          Донецька        Донецьк        Donetsk         Донеччина          5

In [6]:
alarms = pd.read_csv("data/alarms.csv", sep=';')
weather = pd.read_csv("data/all_weather_by_hour_2023-2025_v1.csv")

In [7]:
alarms.head()

,id,region_id,region_city,all_region,start,end
0,52432,12,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28
1,53292,23,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43
2,52080,3,Вінницька обл.,1,2022-02-24 15:40:42,2022-02-24 16:10:42
3,52857,19,Харківська обл.,1,2022-02-24 20:11:47,2022-02-24 20:59:47
4,52700,18,Тернопільська обл.,1,2022-02-25 01:59:36,2022-02-25 09:00:19

In [8]:
weather.head()

,city_latitude,city_longitude,city_resolvedAddress,city_address,city_timezone,city_tzoffset,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,...,hour_pressure,hour_visibility,hour_cloudcover,hour_solarradiation,hour_solarenergy,hour_uvindex,hour_conditions,hour_icon,hour_source,hour_stations
0,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,1020.0,0.0,91.5,0.0,NaN,0.0,Overcast,snow,obs,remote
1,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,1021.0,0.2,88.2,0.0,NaN,0.0,Partially cloudy,fog,obs,remote
2,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,1022.0,10.0,100.0,NaN,NaN,NaN,Overcast,cloudy,obs,33177099999
3,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,1021.0,0.1,92.0,0.0,NaN,0.0,Overcast,fog,obs,remote
4,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,1021.0,0.0,93.8,0.0,NaN,0.0,Overcast,cloudy,obs,remote

In [9]:
isw = pd.read_csv("data/isw_prepared.csv")

In [10]:
isw.head()

,_id,date,lemmatized_text,stemmed_text
0,67f568f9dcd7a5c401c30a6b,2022-02-25,russian force entered major ukrainian city inc...,russian forc enter major ukrainian citi includ...
1,67f568f9dcd7a5c401c30a6c,2022-02-26,russian force main ax advance last hour focuse...,russian forc main axe advanc last hour focus k...
2,67f568f9dcd7a5c401c30a6d,2022-02-27,russian military likely recognized initial exp...,russian militari like recogn initi expect limi...
3,67f568f9dcd7a5c401c30a6e,2022-02-28,russian military reorganizing military effort ...,russian militari reorgan militari effort attem...
4,67f568f9dcd7a5c401c30a6f,2022-03-01,russian force completing reinforcement resuppl...,russian forc complet reinforc resuppli troop n...

In [11]:
isw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1123 entries, 0 to 1122
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   _id              1123 non-null   object
 1   date             1123 non-null   object
 2   lemmatized_text  1123 non-null   object
 3   stemmed_text     1123 non-null   object
dtypes: object(4)
memory usage: 35.2+ KB

In [12]:
isw["date"] = pd.to_datetime(isw["date"])

In [13]:
isw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1123 entries, 0 to 1122
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   _id              1123 non-null   object
 1   date             1123 non-null   datetime64[ns]
 2   lemmatized_text  1123 non-null   object
 3   stemmed_text     1123 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 35.2+ KB

In [14]:
alarms.head()

,id,region_id,region_city,all_region,start,end
0,52432,12,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28
1,53292,23,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43
2,52080,3,Вінницька обл.,1,2022-02-24 15:40:42,2022-02-24 16:10:42
3,52857,19,Харківська обл.,1,2022-02-24 20:11:47,2022-02-24 20:59:47
4,52700,18,Тернопільська обл.,1,2022-02-25 01:59:36,2022-02-25 09:00:19

In [15]:
alarms = alarms.drop(["id", "region_id"], axis=1)

In [16]:
alarms.head()

          region_city  all_region                start                  end
0      Львівська обл.           1  2022-02-24 07:43:17  2022-02-24 09:52:28
1   Чернігівська обл.           1  2022-02-24 14:00:43  2022-02-24 17:11:43
2      Вінницька обл.           1  2022-02-24 15:40:42  2022-02-24 16:10:42
3     Харківська обл.           1  2022-02-24 20:11:47  2022-02-24 20:59:47
4  Тернопільська обл.           1  2022-02-25 01:59:36  2022-02-25 09:00:19

In [17]:
alarms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55788 entries, 0 to 55787
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   region_city  55788 non-null  object
 1   all_region   55788 non-null  int64
 2   start        55788 non-null  object
 3   end          55788 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.7+ MB

In [18]:
alarms["start"] = pd.to_datetime(alarms["start"])
alarms["end"] = pd.to_datetime(alarms["end"])

In [19]:
alarms["start_hour"] = alarms['start'].dt.floor('h')
alarms["end_hour"] = alarms['end'].dt.ceil('h')

In [20]:
alarms.head()

,region_city,all_region,start,end,start_hour,end_hour
0,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00
1,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43,2022-02-24 14:00:00,2022-02-24 18:00:00
2,Вінницька обл.,1,2022-02-24 15:40:42,2022-02-24 16:10:42,2022-02-24 15:00:00,2022-02-24 17:00:00
3,Харківська обл.,1,2022-02-24 20:11:47,2022-02-24 20:59:47,2022-02-24 20:00:00,2022-02-24 21:00:00
4,Тернопільська обл.,1,2022-02-25 01:59:36,2022-02-25 09:00:19,2022-02-25 01:00:00,2022-02-25 10:00:00

In [21]:
alarms["date"] = alarms["start"].dt.date

In [22]:
alarms["startepoch"] = alarms["start_hour"].apply(lambda x: int(x.timestamp()))
alarms["endepoch"] = alarms["end_hour"].apply(lambda x: int(x.timestamp()))

In [23]:
alarms.head()

,region_city,all_region,start,end,start_hour,end_hour,date,startepoch,endepoch
0,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00,2022-02-24,1645686000,1645696800
1,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43,2022-02-24 14:00:00,2022-02-24 18:00:00,2022-02-24,1645711200,1645725600
2,Вінницька обл.,1,2022-02-24 15:40:42,2022-02-24 16:10:42,2022-02-24 15:00:00,2022-02-24 17:00:00,2022-02-24,1645714800,1645722000
3,Харківська обл.,1,2022-02-24 20:11:47,2022-02-24 20:59:47,2022-02-24 20:00:00,2022-02-24 21:00:00,2022-02-24,1645732800,1645736400
4,Тернопільська обл.,1,2022-02-25 01:59:36,2022-02-25 09:00:19,2022-02-25 01:00:00,2022-02-25 10:00:00,2022-02-25,1645750800,1645783200

In [24]:
alarms.shape

(55788, 9)

In [25]:
weather.head()

,city_latitude,city_longitude,city_resolvedAddress,city_address,city_timezone,city_tzoffset,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,...,hour_pressure,hour_visibility,hour_cloudcover,hour_solarradiation,hour_solarenergy,hour_uvindex,hour_conditions,hour_icon,hour_source,hour_stations
0,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,1020.0,0.0,91.5,0.0,NaN,0.0,Overcast,snow,obs,remote
1,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,1021.0,0.2,88.2,0.0,NaN,0.0,Partially cloudy,fog,obs,remote
2,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,1022.0,10.0,100.0,NaN,NaN,NaN,Overcast,cloudy,obs,33177099999
3,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,1021.0,0.1,92.0,0.0,NaN,0.0,Overcast,fog,obs,remote
4,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,1021.0,0.0,93.8,0.0,NaN,0.0,Overcast,cloudy,obs,remote

In [26]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608304 entries, 0 to 608303
Data columns (total 65 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   city_latitude         608304 non-null  float64
 1   city_longitude        608304 non-null  float64
 2   city_resolvedAddress  608304 non-null  object
 3   city_address          608304 non-null  object
 4   city_timezone         608304 non-null  object
 5   city_tzoffset         608304 non-null  float64
 6   day_datetime          608304 non-null  object
 7   day_datetimeEpoch     608304 non-null  int64
 8   day_tempmax           608304 non-null  float64
 9   day_tempmin           608304 non-null  float64
 10  day_temp              608304 non-null  float64
 11  day_feelslikemax      608304 non-null  float64
 12  day_feelslikemin      608304 non-null  float64
 13  day_feelslike         608304 non-null  float64
 14  day_dew               608304 non-null  float64
 15  day_humidity          608304 non-null  float64
 16  day_precip            608304 non-null  float64
 17  day_precipprob        608304 non-null  float64
 18  day_precipcover       608304 non-null  float64
 19  day_snow              608304 non-null  float64
 20  day_snowdepth         608304 non-null  float64
 21  day_windgust          608304 non-null  float64
 22  day_windspeed         608304 non-null  float64
 23  day_winddir           608304 non-null  float64
 24  day_pressure          608304 non-null  float64
 25  day_cloudcover        608304 non-null  float64
 26  day_visibility        552952 non-null  float64
 27  day_solarradiation    607752 non-null  float64
 28  day_solarenergy       607752 non-null  float64
 29  day_uvindex           607752 non-null  float64
 30  day_sunrise           608304 non-null  object
 31  day_sunriseEpoch      608304 non-null  int64
 32  day_sunset            608304 non-null  object
 33  day_sunsetEpoch       608304 non-null  int64
 34  day_moonphase         608304 non-null  float64
 35  day_conditions        608304 non-null  object
 36  day_description       608304 non-null  object
 37  day_icon              608304 non-null  object
 38  day_source            608304 non-null  object
 39  day_preciptype        342087 non-null  object
 40  day_stations          608304 non-null  object
 41  hour_datetime         608304 non-null  object
 42  hour_datetimeEpoch    608304 non-null  int64
 43  hour_temp             608304 non-null  float64
 44  hour_feelslike        608304 non-null  float64
 45  hour_humidity         608304 non-null  float64
 46  hour_dew              608304 non-null  float64
 47  hour_precip           608202 non-null  float64
 48  hour_precipprob       608304 non-null  float64
 49  hour_snow             608304 non-null  float64
 50  hour_snowdepth        608304 non-null  float64
 51  hour_preciptype       64865 non-null   object
 52  hour_windgust         608304 non-null  float64
 53  hour_windspeed        608304 non-null  float64
 54  hour_winddir          608304 non-null  float64
 55  hour_pressure         608304 non-null  float64
 56  hour_visibility       331846 non-null  float64
 57  hour_cloudcover       608304 non-null  float64
 58  hour_solarradiation   603968 non-null  float64
 59  hour_solarenergy      521042 non-null  float64
 60  hour_uvindex          603968 non-null  float64
 61  hour_conditions       608304 non-null  object
 62  hour_icon             608304 non-null  object
 63  hour_source           608304 non-null  object
 64  hour_stations         608304 non-null  object
dtypes: float64(43), int64(4), object(18)
memory usage: 301.7+ MB

In [27]:
weather["day_datetime"] = pd.to_datetime(weather["day_datetime"])

In [28]:
weather.shape

(608304, 65)

In [29]:
weather_exclude = [
    "day_feelslikemax",
    "day_feelslikemin",
    "day_sunriseEpoch",
    "day_sunsetEpoch",
    "day_description",
    "city_latitude",
    "city_longitude",
    "city_address",
    "city_timezone",
    "city_tzoffset",
    "day_feelslike",
    "day_precipprob",
    "day_snow",
    "day_snowdepth",
    "day_windgust",
    "day_windspeed",
    "day_winddir",
    "day_pressure",
    "day_cloudcover",
    "day_visibility",
    "day_severerisk",
    "day_conditions",
    "day_icon",
    "day_source",
    "day_preciptype",
    "day_stations",
    "hour_icon",
    "hour_source",
    "hour_stations",
    "hour_feelslike"
]

In [30]:
weather = weather.drop(weather_exclude, axis=1, errors="ignore")

In [31]:
weather["city"] = weather["city_resolvedAddress"].apply(lambda x: x.split(",")[0])
weather["city"] = weather["city"].replace('Хмельницька область', "Хмельницький")

In [32]:
weather

,city_resolvedAddress,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_dew,day_humidity,day_precip,day_precipcover,...,hour_windspeed,hour_winddir,hour_pressure,hour_visibility,hour_cloudcover,hour_solarradiation,hour_solarenergy,hour_uvindex,hour_conditions,city
0,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,15.5,275.6,1020.0,0.0,91.5,0.0,NaN,0.0,Overcast,Луцьк
1,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,14.8,280.3,1021.0,0.2,88.2,0.0,NaN,0.0,Partially cloudy,Луцьк
2,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,14.4,310.0,1022.0,10.0,100.0,NaN,NaN,NaN,Overcast,Луцьк
3,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,13.3,295.1,1021.0,0.1,92.0,0.0,NaN,0.0,Overcast,Луцьк
4,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,13.3,305.8,1021.0,0.0,93.8,0.0,NaN,0.0,Overcast,Луцьк
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608299,"Полтава, Україна",2025-03-01,1740780000,0.3,-6.9,-3.0,-5.9,81.2,0.000,0.00,...,5.8,174.9,1030.0,NaN,100.0,0.0,0.0,0.0,Overcast,Полтава
608300,"Полтава, Україна",2025-03-01,1740780000,0.3,-6.9,-3.0,-5.9,81.2,0.000,0.00,...,0.0,170.5,1029.6,10.0,100.0,0.0,0.0,0.0,Overcast,Полтава
608301,"Полтава, Україна",2025-03-01,1740780000,0.3,-6.9,-3.0,-5.9,81.2,0.000,0.00,...,6.8,168.7,1029.0,NaN,99.6,0.0,0.0,0.0,Overcast,Полтава
608302,"Полтава, Україна",2025-03-01,1740780000,0.3,-6.9,-3.0,-5.9,81.2,0.000,0.00,...,7.2,173.4,1029.0,NaN,98.2,0.0,0.0,0.0,Overcast,Полтава
608303,"Полтава, Україна",2025-03-01,1740780000,0.3,-6.9,-3.0,-5.9,81.2,0.000,0.00,...,0.0,182.0,1028.6,10.0,100.0,0.0,0.0,0.0,Overcast,Полтава

In [33]:
weather.shape

(608304, 37)

In [34]:
regions

,region,center_city_ua,center_city_en,region_alt,region_id
0,АР Крим,Сімферополь,Simferopol,Крим,1
1,Вінницька,Вінниця,Vinnytsia,Вінниччина,2
2,Волинська,Луцьк,Lutsk,Волинь,3
3,Дніпропетровська,Дніпро,Dnipro,Дніпропетровщина,4
4,Донецька,Донецьк,Donetsk,Донеччина,5
5,Житомирська,Житомир,Zhytomyr,Житомирщина,6
6,Закарпатська,Ужгород,Uzhgorod,Закарпаття,7
7,Запорізька,Запоріжжя,Zaporozhye,Запоріжжя,8
8,Івано-Франківська,Івано-Франківськ,Ivano-Frankivsk,Івано-Франківщина,9
9,Київська,Київ,Kyiv,Київщина,10
10,Кіровоградська,Кропивницький,Kropyvnytskyi,Кіровоградщина,11
11,Луганська,Луганськ,Luhansk,Луганщина,12
12,Львівська,Львів,Lviv,Львівщина,13
13,Миколаївська,Миколаїв,Mykolaiv,Миколаївщина,14
14,Одеська,Одеса,Odesa,Одещина,15
15,Полтавська,Полтава,Poltava,Полтавщина,16
16,Рівненська,Рівне,Rivne,Рівненщина,17
17,Сумська,Суми,Sumy,Сумщина,18
18,Тернопільська,Тернопіль,Ternopil,Тернопільщина,19
19,Харківська,Харків,Kharkiv,Харківщина,20
20,Херсонська,Херсон,Kherson,Херсонщина,21
21,Хмельницька,Хмельницький,Khmelnytskyi,Хмельниччина,22
22,Черкаська,Черкаси,Cherkasy,Черкащина,23
23,Чернівецька,Чернівці,Chernivtsi,Буковина,24
24,Чернігівська,Чернігів,Chernihiv,Чернігівщина,25

In [35]:
weather_reg = pd.merge(weather, regions, left_on="city", right_on="center_city_ua")

In [36]:
weather_reg.head()

,city_resolvedAddress,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_dew,day_humidity,day_precip,day_precipcover,...,hour_solarradiation,hour_solarenergy,hour_uvindex,hour_conditions,city,region,center_city_ua,center_city_en,region_alt,region_id
0,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,0.0,NaN,0.0,Overcast,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
1,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,0.0,NaN,0.0,Partially cloudy,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
2,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaN,NaN,NaN,Overcast,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
3,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,0.0,NaN,0.0,Overcast,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
4,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,0.0,NaN,0.0,Overcast,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3

In [37]:
weather_reg.shape

(608304, 42)

In [38]:
alarms.head()

,region_city,all_region,start,end,start_hour,end_hour,date,startepoch,endepoch
0,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00,2022-02-24,1645686000,1645696800
1,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43,2022-02-24 14:00:00,2022-02-24 18:00:00,2022-02-24,1645711200,1645725600
2,Вінницька обл.,1,2022-02-24 15:40:42,2022-02-24 16:10:42,2022-02-24 15:00:00,2022-02-24 17:00:00,2022-02-24,1645714800,1645722000
3,Харківська обл.,1,2022-02-24 20:11:47,2022-02-24 20:59:47,2022-02-24 20:00:00,2022-02-24 21:00:00,2022-02-24,1645732800,1645736400
4,Тернопільська обл.,1,2022-02-25 01:59:36,2022-02-25 09:00:19,2022-02-25 01:00:00,2022-02-25 10:00:00,2022-02-25,1645750800,1645783200

In [39]:
events_dict = alarms.to_dict('records')

In [40]:
events_by_hour = []
events_dict[0]

{'region_city': 'Львівська обл.',
 'all_region': 1,
 'start': Timestamp('2022-02-24 07:43:17'),
 'end': Timestamp('2022-02-24 09:52:28'),
 'start_hour': Timestamp('2022-02-24 07:00:00'),
 'end_hour': Timestamp('2022-02-24 10:00:00'),
 'date': datetime.date(2022, 2, 24),
 'startepoch': 1645686000,
 'endepoch': 1645696800}

In [41]:
for event in events_dict:
    for d in pd.date_range(start=event["start_hour"], end=event["end_hour"], freq='1h'):
        et = event.copy()
        et["hour_level_event_time"] = d
        events_by_hour.append(et)

In [42]:
alarms = pd.DataFrame.from_dict(events_by_hour)

In [43]:
alarms

,region_city,all_region,start,end,start_hour,end_hour,date,startepoch,endepoch,hour_level_event_time
0,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00,2022-02-24,1645686000,1645696800,2022-02-24 07:00:00
1,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00,2022-02-24,1645686000,1645696800,2022-02-24 08:00:00
2,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00,2022-02-24,1645686000,1645696800,2022-02-24 09:00:00
3,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00,2022-02-24,1645686000,1645696800,2022-02-24 10:00:00
4,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43,2022-02-24 14:00:00,2022-02-24 18:00:00,2022-02-24,1645711200,1645725600,2022-02-24 14:00:00
...,...,...,...,...,...,...,...,...,...,...
179403,Житомирська обл.,1,2025-03-01 23:26:07,2025-03-02 02:43:26,2025-03-01 23:00:00,2025-03-02 03:00:00,2025-03-01,1740870000,1740884400,2025-03-01 23:00:00
179404,Житомирська обл.,1,2025-03-01 23:26:07,2025-03-02 02:43:26,2025-03-01 23:00:00,2025-03-02 03:00:00,2025-03-01,1740870000,1740884400,2025-03-02 00:00:00
179405,Житомирська обл.,1,2025-03-01 23:26:07,2025-03-02 02:43:26,2025-03-01 23:00:00,2025-03-02 03:00:00,2025-03-01,1740870000,1740884400,2025-03-02 01:00:00
179406,Житомирська обл.,1,2025-03-01 23:26:07,2025-03-02 02:43:26,2025-03-01 23:00:00,2025-03-02 03:00:00,2025-03-01,1740870000,1740884400,2025-03-02 02:00:00
179407,Житомирська обл.,1,2025-03-01 23:26:07,2025-03-02 02:43:26,2025-03-01 23:00:00,2025-03-02 03:00:00,2025-03-01,1740870000,1740884400,2025-03-02 03:00:00

In [44]:
alarms["hourlevelepoch"] = alarms["hour_level_event_time"].apply(lambda x: int(x.timestamp()))

In [45]:
alarms.shape

(179408, 11)

In [46]:
alarms.head(15)

,region_city,all_region,start,end,start_hour,end_hour,date,startepoch,endepoch,hour_level_event_time,hourlevelepoch
0,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00,2022-02-24,1645686000,1645696800,2022-02-24 07:00:00,1645686000
1,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00,2022-02-24,1645686000,1645696800,2022-02-24 08:00:00,1645689600
2,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00,2022-02-24,1645686000,1645696800,2022-02-24 09:00:00,1645693200
3,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00,2022-02-24,1645686000,1645696800,2022-02-24 10:00:00,1645696800
4,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43,2022-02-24 14:00:00,2022-02-24 18:00:00,2022-02-24,1645711200,1645725600,2022-02-24 14:00:00,1645711200
5,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43,2022-02-24 14:00:00,2022-02-24 18:00:00,2022-02-24,1645711200,1645725600,2022-02-24 15:00:00,1645714800
6,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43,2022-02-24 14:00:00,2022-02-24 18:00:00,2022-02-24,1645711200,1645725600,2022-02-24 16:00:00,1645718400
7,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43,2022-02-24 14:00:00,2022-02-24 18:00:00,2022-02-24,1645711200,1645725600,2022-02-24 17:00:00,1645722000
8,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43,2022-02-24 14:00:00,2022-02-24 18:00:00,2022-02-24,1645711200,1645725600,2022-02-24 18:00:00,1645725600
9,Вінницька обл.,1,2022-02-24 15:40:42,2022-02-24 16:10:42,2022-02-24 15:00:00,2022-02-24 17:00:00,2022-02-24,1645714800,1645722000,2022-02-24 15:00:00,1645714800
10,Вінницька обл.,1,2022-02-24 15:40:42,2022-02-24 16:10:42,2022-02-24 15:00:00,2022-02-24 17:00:00,2022-02-24,1645714800,1645722000,2022-02-24 16:00:00,1645718400
11,Вінницька обл.,1,2022-02-24 15:40:42,2022-02-24 16:10:42,2022-02-24 15:00:00,2022-02-24 17:00:00,2022-02-24,1645714800,1645722000,2022-02-24 17:00:00,1645722000
12,Харківська обл.,1,2022-02-24 20:11:47,2022-02-24 20:59:47,2022-02-24 20:00:00,2022-02-24 21:00:00,2022-02-24,1645732800,1645736400,2022-02-24 20:00:00,1645732800
13,Харківська обл.,1,2022-02-24 20:11:47,2022-02-24 20:59:47,2022-02-24 20:00:00,2022-02-24 21:00:00,2022-02-24,1645732800,1645736400,2022-02-24 21:00:00,1645736400
14,Тернопільська обл.,1,2022-02-25 01:59:36,2022-02-25 09:00:19,2022-02-25 01:00:00,2022-02-25 10:00:00,2022-02-25,1645750800,1645783200,2022-02-25 01:00:00,1645750800

In [47]:
alarms['region_city'] = alarms['region_city'].str.replace(' обл.', '', regex=False)
mapping = dict(zip(regions['region'], regions['region_alt']))
alarms['region_title'] = alarms['region_city'].map(mapping)

In [48]:
alarms

,region_city,all_region,start,end,start_hour,end_hour,date,startepoch,endepoch,hour_level_event_time,hourlevelepoch,region_title
0,Львівська,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00,2022-02-24,1645686000,1645696800,2022-02-24 07:00:00,1645686000,Львівщина
1,Львівська,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00,2022-02-24,1645686000,1645696800,2022-02-24 08:00:00,1645689600,Львівщина
2,Львівська,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00,2022-02-24,1645686000,1645696800,2022-02-24 09:00:00,1645693200,Львівщина
3,Львівська,1,2022-02-24 07:43:17,2022-02-24 09:52:28,2022-02-24 07:00:00,2022-02-24 10:00:00,2022-02-24,1645686000,1645696800,2022-02-24 10:00:00,1645696800,Львівщина
4,Чернігівська,1,2022-02-24 14:00:43,2022-02-24 17:11:43,2022-02-24 14:00:00,2022-02-24 18:00:00,2022-02-24,1645711200,1645725600,2022-02-24 14:00:00,1645711200,Чернігівщина
...,...,...,...,...,...,...,...,...,...,...,...,...
179403,Житомирська,1,2025-03-01 23:26:07,2025-03-02 02:43:26,2025-03-01 23:00:00,2025-03-02 03:00:00,2025-03-01,1740870000,1740884400,2025-03-01 23:00:00,1740870000,Житомирщина
179404,Житомирська,1,2025-03-01 23:26:07,2025-03-02 02:43:26,2025-03-01 23:00:00,2025-03-02 03:00:00,2025-03-01,1740870000,1740884400,2025-03-02 00:00:00,1740873600,Житомирщина
179405,Житомирська,1,2025-03-01 23:26:07,2025-03-02 02:43:26,2025-03-01 23:00:00,2025-03-02 03:00:00,2025-03-01,1740870000,1740884400,2025-03-02 01:00:00,1740877200,Житомирщина
179406,Житомирська,1,2025-03-01 23:26:07,2025-03-02 02:43:26,2025-03-01 23:00:00,2025-03-02 03:00:00,2025-03-01,1740870000,1740884400,2025-03-02 02:00:00,1740880800,Житомирщина
179407,Житомирська,1,2025-03-01 23:26:07,2025-03-02 02:43:26,2025-03-01 23:00:00,2025-03-02 03:00:00,2025-03-01,1740870000,1740884400,2025-03-02 03:00:00,1740884400,Житомирщина

In [49]:
alarms_copy = alarms.copy().add_prefix("event_")

In [50]:
weather_copy = weather_reg.merge(alarms_copy,
                                 how="left",
                                 left_on=["region_alt", "hour_datetimeEpoch"],
                                 right_on=["event_region_title", "event_hourlevelepoch"])

In [51]:
weather_copy.shape

(629555, 54)

In [52]:
weather_copy.head()

,city_resolvedAddress,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_dew,day_humidity,day_precip,day_precipcover,...,event_start,event_end,event_start_hour,event_end_hour,event_date,event_startepoch,event_endepoch,event_hour_level_event_time,event_hourlevelepoch,event_region_title
0,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN
1,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN
2,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN
3,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN
4,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN

In [53]:
weather_copy.to_csv("final_dataset.csv", index=False)

In [54]:
weather_copy.head()

,city_resolvedAddress,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_dew,day_humidity,day_precip,day_precipcover,...,event_start,event_end,event_start_hour,event_end_hour,event_date,event_startepoch,event_endepoch,event_hour_level_event_time,event_hourlevelepoch,event_region_title
0,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN
1,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN
2,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN
3,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN
4,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN

In [55]:
weather_copy["city_resolvedAddress"].value_counts()

city_resolvedAddress
Донецьк, Україна                        29966
Харків, Україна                         29741
Запоріжжя, Україна                      29301
Дніпро, Україна                         28827
Суми, Україна                           27952
Полтава, Україна                        27797
Херсон, Україна                         27539
Миколаїв, Україна                       27487
Кропивницький, Україна                  27340
Чернігів, Україна                       27034
Черкаси, Україна                        26977
Одеса, Україна                          26906
Київ, Україна                           26852
Житомир, Україна                        26792
Вінниця, Україна                        26726
Хмельницька область, Україна            26579
Луцьк, Луцький район, Україна           26566
Рівне, Україна                          26559
Тернопіль, Україна                      26539
Львів, Україна                          26523
Івано-Франківськ, Україна               26520
Чернівці, Україна                       26517
Ужгород, Ужгородський район, Україна    26515
Name: count, dtype: int64

Щоб перевірити треба подивитися кількість тривог більше 1 години, і порівняти

In [56]:
weather_copy.head()

,city_resolvedAddress,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_dew,day_humidity,day_precip,day_precipcover,...,event_start,event_end,event_start_hour,event_end_hour,event_date,event_startepoch,event_endepoch,event_hour_level_event_time,event_hourlevelepoch,event_region_title
0,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN
1,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN
2,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN
3,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN
4,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN

In [57]:
isw_df = pd.read_csv('data_analysis/isw_matrix_with_dates.csv')

In [59]:
isw_df.head()

,ability,able,access,accused,achieve,acknowledged,across,action,active,actor,...,year,yet,yevgeny,york,youth,zaporizhzhia,zelensky,znpp,zone,day_datetime
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-25 00:00:00
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-25 01:00:00
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-25 02:00:00
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-25 03:00:00
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-25 04:00:00

In [61]:
weather_copy['datetime'] = pd.to_datetime(
    weather_copy['day_datetime'].astype(str) + ' ' + weather_copy['hour_datetime'].astype(str),
    format='%Y-%m-%d %H:%M:%S'
)

In [62]:
weather_copy.head()

,city_resolvedAddress,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_dew,day_humidity,day_precip,day_precipcover,...,event_end,event_start_hour,event_end_hour,event_date,event_startepoch,event_endepoch,event_hour_level_event_time,event_hourlevelepoch,event_region_title,datetime
0,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,2022-02-24 00:00:00
1,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,2022-02-24 01:00:00
2,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,2022-02-24 02:00:00
3,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,2022-02-24 03:00:00
4,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,0.0,83.7,0.118,4.17,...,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,2022-02-24 04:00:00

In [63]:
final_merged = weather_copy.merge(isw_df,
                                 how="left",
                                 left_on=["day_datetime"],
                                 right_on=["day_datetime"])

ValueError: You are trying to merge on datetime64[ns] and object columns for key 'day_datetime'. If you wish to proceed you should use pd.concat

In [67]:
weather_copy['day_datetime'] = pd.to_datetime(weather_copy['day_datetime'])
isw_df['datetime_column'] = pd.to_datetime(isw_df['day_datetime']) 
weather_copy['merge_date'] = weather_copy['day_datetime'].dt.floor('H')
isw_df['merge_date'] = isw_df['datetime_column'].dt.floor('H')

C:\Users\Администратор\AppData\Local\Temp\ipykernel_1636\498186737.py:3: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  weather_copy['merge_date'] = weather_copy['day_datetime'].dt.floor('H')
C:\Users\Администратор\AppData\Local\Temp\ipykernel_1636\498186737.py:4: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  isw_df['merge_date'] = isw_df['datetime_column'].dt.floor('H')

In [1]:
final_merged = weather_copy.merge(isw_df,
                                  how="left",
                                  left_on=['merge_date'],
                                  right_on=['merge_date'])

NameError: name 'weather_copy' is not defined