In [85]:
import datetime
import numpy as np
import pandas as pd
import pickle

In [86]:
regions = pd.read_csv("data/regions.csv")
alarms = pd.read_csv("prepared_data/alarms_prepared.csv")
weather = pd.read_csv("prepared_data/weather_prepared.csv")
isw = pd.read_csv("prepared_data/isw_prepared.csv")

In [87]:
regions

,region,center_city_ua,center_city_en,region_alt,region_id
0,АР Крим,Сімферополь,Simferopol,Крим,1
1,Вінницька,Вінниця,Vinnytsia,Вінниччина,2
2,Волинська,Луцьк,Lutsk,Волинь,3
3,Дніпропетровська,Дніпро,Dnipro,Дніпропетровщина,4
4,Донецька,Донецьк,Donetsk,Донеччина,5
5,Житомирська,Житомир,Zhytomyr,Житомирщина,6
6,Закарпатська,Ужгород,Uzhgorod,Закарпаття,7
7,Запорізька,Запоріжжя,Zaporozhye,Запоріжжя,8
8,Івано-Франківська,Івано-Франківськ,Ivano-Frankivsk,Івано-Франківщина,9
9,Київська,Київ,Kyiv,Київщина,10
10,Кіровоградська,Кропивницький,Kropyvnytskyi,Кіровоградщина,11
11,Луганська,Луганськ,Luhansk,Луганщина,12
12,Львівська,Львів,Lviv,Львівщина,13
13,Миколаївська,Миколаїв,Mykolaiv,Миколаївщина,14
14,Одеська,Одеса,Odesa,Одещина,15
15,Полтавська,Полтава,Poltava,Полтавщина,16
16,Рівненська,Рівне,Rivne,Рівненщина,17
17,Сумська,Суми,Sumy,Сумщина,18
18,Тернопільська,Тернопіль,Ternopil,Тернопільщина,19
19,Харківська,Харків,Kharkiv,Харківщина,20
20,Херсонська,Херсон,Kherson,Херсонщина,21
21,Хмельницька,Хмельницький,Khmelnytskyi,Хмельниччина,22
22,Черкаська,Черкаси,Cherkasy,Черкащина,23
23,Чернівецька,Чернівці,Chernivtsi,Буковина,24
24,Чернігівська,Чернігів,Chernihiv,Чернігівщина,25

In [88]:
weather["city"].unique()

array(['Луцьк', 'Кропивницький', 'Дніпро', 'Київ', 'Херсон', 'Чернівці',
       'Чернігів', 'Одеса', 'Миколаїв', 'Харків', 'Хмельницький',
       'Донецьк', 'Ужгород', 'Запоріжжя', 'Рівне', 'Житомир', 'Тернопіль',
       'Полтава', 'Львів', 'Івано-Франківськ', 'Черкаси', 'Суми',
       'Вінниця'], dtype=object)

In [89]:
regions["center_city_ua"].unique()

array(['Сімферополь', 'Вінниця', 'Луцьк', 'Дніпро', 'Донецьк', 'Житомир',
       'Ужгород', 'Запоріжжя', 'Івано-Франківськ', 'Київ',
       'Кропивницький', 'Луганськ', 'Львів', 'Миколаїв', 'Одеса',
       'Полтава', 'Рівне', 'Суми', 'Тернопіль', 'Харків', 'Херсон',
       'Хмельницький', 'Черкаси', 'Чернівці', 'Чернігів'], dtype=object)

we can see that we have 2 more cities in regions( Simferopol and Lunansk) but as we don't have weather and alarms for them, it is okay. Other are the same, so we can merge on this features

In [90]:
weather_reg = pd.merge(weather, regions, left_on="city", right_on="center_city_ua")

In [91]:
weather_reg

,Unnamed: 0,city_latitude,city_longitude,day_tempmax,day_tempmin,day_temp,day_precipcover,day_sunriseEpoch,day_sunsetEpoch,day_moonphase,...,hour_solarenergy,hour_uvindex,hour_conditions,datetime,city,region,center_city_ua,center_city_en,region_alt,region_id
0,0,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,0.1,0.0,Overcast,2022-02-24 00:00:00,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
1,1,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,0.1,0.0,Partially cloudy,2022-02-24 01:00:00,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
2,2,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,0.1,0.0,Overcast,2022-02-24 02:00:00,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
3,3,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,0.1,0.0,Overcast,2022-02-24 03:00:00,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
4,4,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,0.1,0.0,Overcast,2022-02-24 04:00:00,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608299,608299,49.5879,34.5517,0.3,-6.9,-3.0,0.00,1740803069,1740842677,0.05,...,0.0,0.0,Overcast,2025-03-01 19:00:00,Полтава,Полтавська,Полтава,Poltava,Полтавщина,16
608300,608300,49.5879,34.5517,0.3,-6.9,-3.0,0.00,1740803069,1740842677,0.05,...,0.0,0.0,Overcast,2025-03-01 20:00:00,Полтава,Полтавська,Полтава,Poltava,Полтавщина,16
608301,608301,49.5879,34.5517,0.3,-6.9,-3.0,0.00,1740803069,1740842677,0.05,...,0.0,0.0,Overcast,2025-03-01 21:00:00,Полтава,Полтавська,Полтава,Poltava,Полтавщина,16
608302,608302,49.5879,34.5517,0.3,-6.9,-3.0,0.00,1740803069,1740842677,0.05,...,0.0,0.0,Overcast,2025-03-01 22:00:00,Полтава,Полтавська,Полтава,Poltava,Полтавщина,16
608303,608303,49.5879,34.5517,0.3,-6.9,-3.0,0.00,1740803069,1740842677,0.05,...,0.0,0.0,Overcast,2025-03-01 23:00:00,Полтава,Полтавська,Полтава,Poltava,Полтавщина,16

We can see that we have unnamed column, which we will drop, also  we will drop `center_city_en` as we don't have english names And other. And column `center_city_ua` as it have same info as `city`.

In [92]:
weather_reg.drop(["Unnamed: 0", "center_city_en", "center_city_ua", "region_alt", "region_id", "city"], axis=1,
                 inplace=True)

Drop in weather

In [93]:
weather_reg.drop(["day_sunriseEpoch", "day_sunsetEpoch"], axis=1, inplace=True)

In [94]:
weather_reg

,city_latitude,city_longitude,day_tempmax,day_tempmin,day_temp,day_precipcover,day_moonphase,hour_datetimeEpoch,hour_temp,hour_humidity,...,hour_winddir,hour_pressure,hour_visibility,hour_cloudcover,hour_solarradiation,hour_solarenergy,hour_uvindex,hour_conditions,datetime,region
0,50.7469,25.3263,4.9,0.7,2.6,4.17,0.77,1645653600,2.4,89.18,...,275.6,1020.0,0.0,91.5,0.0,0.1,0.0,Overcast,2022-02-24 00:00:00,Волинська
1,50.7469,25.3263,4.9,0.7,2.6,4.17,0.77,1645657200,2.4,87.90,...,280.3,1021.0,0.2,88.2,0.0,0.1,0.0,Partially cloudy,2022-02-24 01:00:00,Волинська
2,50.7469,25.3263,4.9,0.7,2.6,4.17,0.77,1645660800,2.9,88.58,...,310.0,1022.0,10.0,100.0,0.0,0.1,0.0,Overcast,2022-02-24 02:00:00,Волинська
3,50.7469,25.3263,4.9,0.7,2.6,4.17,0.77,1645664400,2.3,86.63,...,295.1,1021.0,0.1,92.0,0.0,0.1,0.0,Overcast,2022-02-24 03:00:00,Волинська
4,50.7469,25.3263,4.9,0.7,2.6,4.17,0.77,1645668000,1.9,87.85,...,305.8,1021.0,0.0,93.8,0.0,0.1,0.0,Overcast,2022-02-24 04:00:00,Волинська
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608299,49.5879,34.5517,0.3,-6.9,-3.0,0.00,0.05,1740848400,-1.3,73.09,...,174.9,1030.0,10.0,100.0,0.0,0.0,0.0,Overcast,2025-03-01 19:00:00,Полтавська
608300,49.5879,34.5517,0.3,-6.9,-3.0,0.00,0.05,1740852000,-1.8,81.17,...,170.5,1029.6,10.0,100.0,0.0,0.0,0.0,Overcast,2025-03-01 20:00:00,Полтавська
608301,49.5879,34.5517,0.3,-6.9,-3.0,0.00,0.05,1740855600,-1.0,68.31,...,168.7,1029.0,10.0,99.6,0.0,0.0,0.0,Overcast,2025-03-01 21:00:00,Полтавська
608302,49.5879,34.5517,0.3,-6.9,-3.0,0.00,0.05,1740859200,-1.7,71.36,...,173.4,1029.0,10.0,98.2,0.0,0.0,0.0,Overcast,2025-03-01 22:00:00,Полтавська
608303,49.5879,34.5517,0.3,-6.9,-3.0,0.00,0.05,1740862800,-2.1,84.88,...,182.0,1028.6,10.0,100.0,0.0,0.0,0.0,Overcast,2025-03-01 23:00:00,Полтавська

In [95]:
alarms

,Unnamed: 0,region_city,all_region,start_epoch,end_epoch,hour_time
0,0,Львівська,1,1645688597,1645696348,2022-02-24 07:00:00
1,1,Львівська,1,1645688597,1645696348,2022-02-24 08:00:00
2,2,Львівська,1,1645688597,1645696348,2022-02-24 09:00:00
3,3,Львівська,1,1645688597,1645696348,2022-02-24 10:00:00
4,4,Чернігівська,1,1645711243,1645722703,2022-02-24 14:00:00
...,...,...,...,...,...,...
179378,179416,Житомирська,1,1740871567,1740883406,2025-03-01 23:00:00
179379,179417,Житомирська,1,1740871567,1740883406,2025-03-02 00:00:00
179380,179418,Житомирська,1,1740871567,1740883406,2025-03-02 01:00:00
179381,179419,Житомирська,1,1740871567,1740883406,2025-03-02 02:00:00
179382,179420,Житомирська,1,1740871567,1740883406,2025-03-02 03:00:00

In [96]:
alarms.drop("Unnamed: 0", axis=1, inplace=True)

In [97]:
alarms_copy = alarms.copy().add_prefix("alarms_")

In [98]:
alarms_copy["alarms_region_city"].unique()

array(['Львівська', 'Чернігівська', 'Вінницька', 'Харківська',
       'Тернопільська', 'Київська', 'Рівненська', 'Черкаська', 'Одеська',
       'Запорізька', 'Волинська', 'Житомирська', 'Херсонська',
       'Миколаївська', 'Хмельницька', 'Івано-Франківська',
       'Дніпропетровська', 'Кіровоградська', 'Чернівецька', 'Полтавська',
       'Сумська', 'Донецька', 'Закарпатська'], dtype=object)

In [99]:
weather_reg["region"].unique()

array(['Волинська', 'Кіровоградська', 'Дніпропетровська', 'Київська',
       'Херсонська', 'Чернівецька', 'Чернігівська', 'Одеська',
       'Миколаївська', 'Харківська', 'Хмельницька', 'Донецька',
       'Закарпатська', 'Запорізька', 'Рівненська', 'Житомирська',
       'Тернопільська', 'Полтавська', 'Львівська', 'Івано-Франківська',
       'Черкаська', 'Сумська', 'Вінницька'], dtype=object)

In [100]:
weather_reg_alarms = weather_reg.merge(alarms_copy,
                                       how="left",
                                       left_on=["region", "datetime"],
                                       right_on=["alarms_region_city", "alarms_hour_time"])

In [101]:
weather_reg_alarms[["datetime", "alarms_hour_time", "region", "alarms_region_city", "alarms_all_region"]]

,datetime,alarms_hour_time,region,alarms_region_city,alarms_all_region
0,2022-02-24 00:00:00,NaN,Волинська,NaN,NaN
1,2022-02-24 01:00:00,NaN,Волинська,NaN,NaN
2,2022-02-24 02:00:00,NaN,Волинська,NaN,NaN
3,2022-02-24 03:00:00,NaN,Волинська,NaN,NaN
4,2022-02-24 04:00:00,NaN,Волинська,NaN,NaN
...,...,...,...,...,...
634116,2025-03-01 19:00:00,2025-03-01 19:00:00,Полтавська,Полтавська,1.0
634117,2025-03-01 20:00:00,2025-03-01 20:00:00,Полтавська,Полтавська,1.0
634118,2025-03-01 21:00:00,2025-03-01 21:00:00,Полтавська,Полтавська,1.0
634119,2025-03-01 22:00:00,2025-03-01 22:00:00,Полтавська,Полтавська,1.0
634120,2025-03-01 23:00:00,2025-03-01 23:00:00,Полтавська,Полтавська,1.0

In [102]:
weather_reg_alarms.loc[
    (weather_reg_alarms['region'] == 'Київська') & (weather_reg_alarms['alarms_all_region'] == 0), 'region'] = 'Київ'

In [103]:
weather_reg_alarms[["datetime", "alarms_hour_time", "region", "alarms_region_city", "alarms_all_region"]]

,datetime,alarms_hour_time,region,alarms_region_city,alarms_all_region
0,2022-02-24 00:00:00,NaN,Волинська,NaN,NaN
1,2022-02-24 01:00:00,NaN,Волинська,NaN,NaN
2,2022-02-24 02:00:00,NaN,Волинська,NaN,NaN
3,2022-02-24 03:00:00,NaN,Волинська,NaN,NaN
4,2022-02-24 04:00:00,NaN,Волинська,NaN,NaN
...,...,...,...,...,...
634116,2025-03-01 19:00:00,2025-03-01 19:00:00,Полтавська,Полтавська,1.0
634117,2025-03-01 20:00:00,2025-03-01 20:00:00,Полтавська,Полтавська,1.0
634118,2025-03-01 21:00:00,2025-03-01 21:00:00,Полтавська,Полтавська,1.0
634119,2025-03-01 22:00:00,2025-03-01 22:00:00,Полтавська,Полтавська,1.0
634120,2025-03-01 23:00:00,2025-03-01 23:00:00,Полтавська,Полтавська,1.0

In [104]:
weather_reg_alarms.drop(["alarms_hour_time", "alarms_region_city", "alarms_all_region"], axis=1, inplace=True)

In [105]:
weather_reg_alarms.head()

,city_latitude,city_longitude,day_tempmax,day_tempmin,day_temp,day_precipcover,day_moonphase,hour_datetimeEpoch,hour_temp,hour_humidity,...,hour_visibility,hour_cloudcover,hour_solarradiation,hour_solarenergy,hour_uvindex,hour_conditions,datetime,region,alarms_start_epoch,alarms_end_epoch
0,50.7469,25.3263,4.9,0.7,2.6,4.17,0.77,1645653600,2.4,89.18,...,0.0,91.5,0.0,0.1,0.0,Overcast,2022-02-24 00:00:00,Волинська,NaN,NaN
1,50.7469,25.3263,4.9,0.7,2.6,4.17,0.77,1645657200,2.4,87.90,...,0.2,88.2,0.0,0.1,0.0,Partially cloudy,2022-02-24 01:00:00,Волинська,NaN,NaN
2,50.7469,25.3263,4.9,0.7,2.6,4.17,0.77,1645660800,2.9,88.58,...,10.0,100.0,0.0,0.1,0.0,Overcast,2022-02-24 02:00:00,Волинська,NaN,NaN
3,50.7469,25.3263,4.9,0.7,2.6,4.17,0.77,1645664400,2.3,86.63,...,0.1,92.0,0.0,0.1,0.0,Overcast,2022-02-24 03:00:00,Волинська,NaN,NaN
4,50.7469,25.3263,4.9,0.7,2.6,4.17,0.77,1645668000,1.9,87.85,...,0.0,93.8,0.0,0.1,0.0,Overcast,2022-02-24 04:00:00,Волинська,NaN,NaN

In [106]:
weather_reg_alarms.sort_values(by=["datetime"], inplace=True)
# weather_reg_alarms.drop("datetime", axis=1, inplace=True)
weather_reg_alarms.head()

,city_latitude,city_longitude,day_tempmax,day_tempmin,day_temp,day_precipcover,day_moonphase,hour_datetimeEpoch,hour_temp,hour_humidity,...,hour_visibility,hour_cloudcover,hour_solarradiation,hour_solarenergy,hour_uvindex,hour_conditions,datetime,region,alarms_start_epoch,alarms_end_epoch
0,50.7469,25.3263,4.9,0.7,2.6,4.17,0.77,1645653600,2.4,89.18,...,0.0,91.5,0.0,0.1,0.0,Overcast,2022-02-24 00:00:00,Волинська,NaN,NaN
180915,49.2336,28.4486,5.0,0.7,2.8,4.17,0.77,1645653600,2.1,91.76,...,24.1,91.1,0.0,0.0,0.0,Overcast,2022-02-24 00:00:00,Вінницька,NaN,NaN
8017,48.5085,32.2656,6.2,-1.3,2.2,0.00,0.77,1645653600,0.0,82.64,...,24.1,56.2,0.0,0.0,0.0,Partially cloudy,2022-02-24 00:00:00,Кіровоградська,NaN,NaN
83511,49.4168,26.9743,4.7,0.2,2.3,8.33,0.77,1645653600,2.2,88.52,...,23.7,95.7,0.0,0.1,0.0,Overcast,2022-02-24 00:00:00,Хмельницька,NaN,NaN
108043,47.8289,35.1626,8.0,-2.0,3.3,0.00,0.77,1645653600,1.0,80.38,...,10.0,57.5,0.0,0.0,0.0,Partially cloudy,2022-02-24 00:00:00,Запорізька,NaN,NaN

maybe alarms_start_epoch to next alarm

In [107]:
weather_reg_alarms["is_alarm"] = (weather_reg_alarms["alarms_start_epoch"] != 0).astype(int)

In [108]:
alarm_cols = ['alarms_start_epoch', 'alarms_end_epoch']
weather_reg_alarms[alarm_cols] = weather_reg_alarms[alarm_cols].bfill()

In [109]:
weather_reg_alarms.to_csv("final_dataset.csv", index=False)

In [110]:
weather_reg_alarms.shape

(634121, 31)

In [111]:
weather_reg.shape

(608304, 28)

Щоб перевірити треба подивитися кількість тривог більше 1 години, і порівняти

In [112]:
weather_reg_alarms.head()

,city_latitude,city_longitude,day_tempmax,day_tempmin,day_temp,day_precipcover,day_moonphase,hour_datetimeEpoch,hour_temp,hour_humidity,...,hour_cloudcover,hour_solarradiation,hour_solarenergy,hour_uvindex,hour_conditions,datetime,region,alarms_start_epoch,alarms_end_epoch,is_alarm
0,50.7469,25.3263,4.9,0.7,2.6,4.17,0.77,1645653600,2.4,89.18,...,91.5,0.0,0.1,0.0,Overcast,2022-02-24 00:00:00,Волинська,1.645689e+09,1.645696e+09,1
180915,49.2336,28.4486,5.0,0.7,2.8,4.17,0.77,1645653600,2.1,91.76,...,91.1,0.0,0.0,0.0,Overcast,2022-02-24 00:00:00,Вінницька,1.645689e+09,1.645696e+09,1
8017,48.5085,32.2656,6.2,-1.3,2.2,0.00,0.77,1645653600,0.0,82.64,...,56.2,0.0,0.0,0.0,Partially cloudy,2022-02-24 00:00:00,Кіровоградська,1.645689e+09,1.645696e+09,1
83511,49.4168,26.9743,4.7,0.2,2.3,8.33,0.77,1645653600,2.2,88.52,...,95.7,0.0,0.1,0.0,Overcast,2022-02-24 00:00:00,Хмельницька,1.645689e+09,1.645696e+09,1
108043,47.8289,35.1626,8.0,-2.0,3.3,0.00,0.77,1645653600,1.0,80.38,...,57.5,0.0,0.0,0.0,Partially cloudy,2022-02-24 00:00:00,Запорізька,1.645689e+09,1.645696e+09,1

In [113]:
isw.head()

,ability,able,access,accused,achieve,acknowledged,across,action,active,actor,...,year,yet,yevgeny,york,youth,zaporizhzhia,zelensky,znpp,zone,hour_time
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-25 00:00:00
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-25 01:00:00
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-25 02:00:00
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-25 03:00:00
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-25 04:00:00

In [114]:
final = weather_reg_alarms.merge(isw,
                                 how="left",
                                 left_on=["datetime"],
                                 right_on=["hour_time"])

In [115]:
final.drop(["datetime", "hour_time"], axis=1, inplace=True)

In [117]:
final.to_csv("final_dataset_with_isw.csv", index=False)