In [1]:
import datetime
import numpy as np
import pandas as pd
import pickle

In [18]:
regions = pd.read_csv("data/regions.csv")
alarms = pd.read_csv("prepared_data/alarms_prepared.csv")
weather = pd.read_csv("prepared_data/weather_prepared.csv")
isw = pd.read_csv("prepared_data/isw_prepared.csv")

In [3]:
regions

,region,center_city_ua,center_city_en,region_alt,region_id
0,АР Крим,Сімферополь,Simferopol,Крим,1
1,Вінницька,Вінниця,Vinnytsia,Вінниччина,2
2,Волинська,Луцьк,Lutsk,Волинь,3
3,Дніпропетровська,Дніпро,Dnipro,Дніпропетровщина,4
4,Донецька,Донецьк,Donetsk,Донеччина,5
5,Житомирська,Житомир,Zhytomyr,Житомирщина,6
6,Закарпатська,Ужгород,Uzhgorod,Закарпаття,7
7,Запорізька,Запоріжжя,Zaporozhye,Запоріжжя,8
8,Івано-Франківська,Івано-Франківськ,Ivano-Frankivsk,Івано-Франківщина,9
9,Київська,Київ,Kyiv,Київщина,10
10,Кіровоградська,Кропивницький,Kropyvnytskyi,Кіровоградщина,11
11,Луганська,Луганськ,Luhansk,Луганщина,12
12,Львівська,Львів,Lviv,Львівщина,13
13,Миколаївська,Миколаїв,Mykolaiv,Миколаївщина,14
14,Одеська,Одеса,Odesa,Одещина,15
15,Полтавська,Полтава,Poltava,Полтавщина,16
16,Рівненська,Рівне,Rivne,Рівненщина,17
17,Сумська,Суми,Sumy,Сумщина,18
18,Тернопільська,Тернопіль,Ternopil,Тернопільщина,19
19,Харківська,Харків,Kharkiv,Харківщина,20
20,Херсонська,Херсон,Kherson,Херсонщина,21
21,Хмельницька,Хмельницький,Khmelnytskyi,Хмельниччина,22
22,Черкаська,Черкаси,Cherkasy,Черкащина,23
23,Чернівецька,Чернівці,Chernivtsi,Буковина,24
24,Чернігівська,Чернігів,Chernihiv,Чернігівщина,25

In [19]:
weather["city"].unique()

array(['Луцьк', 'Кропивницький', 'Дніпро', 'Київ', 'Херсон', 'Чернівці',
       'Чернігів', 'Одеса', 'Миколаїв', 'Харків', 'Хмельницький',
       'Донецьк', 'Ужгород', 'Запоріжжя', 'Рівне', 'Житомир', 'Тернопіль',
       'Полтава', 'Львів', 'Івано-Франківськ', 'Черкаси', 'Суми',
       'Вінниця'], dtype=object)

In [20]:
regions["center_city_ua"].unique()

array(['Сімферополь', 'Вінниця', 'Луцьк', 'Дніпро', 'Донецьк', 'Житомир',
       'Ужгород', 'Запоріжжя', 'Івано-Франківськ', 'Київ',
       'Кропивницький', 'Луганськ', 'Львів', 'Миколаїв', 'Одеса',
       'Полтава', 'Рівне', 'Суми', 'Тернопіль', 'Харків', 'Херсон',
       'Хмельницький', 'Черкаси', 'Чернівці', 'Чернігів'], dtype=object)

In [4]:
weather_reg = pd.merge(weather, regions, left_on="city", right_on="center_city_ua")

In [6]:
weather_reg

,Unnamed: 0,city_latitude,city_longitude,day_tempmax,day_tempmin,day_temp,day_precipcover,day_sunriseEpoch,day_sunsetEpoch,day_moonphase,...,hour_solarenergy,hour_uvindex,hour_conditions,datetime,city,region,center_city_ua,center_city_en,region_alt,region_id
0,0,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,0.1,0.0,Overcast,2022-02-24 00:00:00,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
1,1,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,0.1,0.0,Partially cloudy,2022-02-24 01:00:00,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
2,2,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,0.1,0.0,Overcast,2022-02-24 02:00:00,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
3,3,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,0.1,0.0,Overcast,2022-02-24 03:00:00,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
4,4,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,0.1,0.0,Overcast,2022-02-24 04:00:00,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608299,608299,49.5879,34.5517,0.3,-6.9,-3.0,0.00,1740803069,1740842677,0.05,...,0.0,0.0,Overcast,2025-03-01 19:00:00,Полтава,Полтавська,Полтава,Poltava,Полтавщина,16
608300,608300,49.5879,34.5517,0.3,-6.9,-3.0,0.00,1740803069,1740842677,0.05,...,0.0,0.0,Overcast,2025-03-01 20:00:00,Полтава,Полтавська,Полтава,Poltava,Полтавщина,16
608301,608301,49.5879,34.5517,0.3,-6.9,-3.0,0.00,1740803069,1740842677,0.05,...,0.0,0.0,Overcast,2025-03-01 21:00:00,Полтава,Полтавська,Полтава,Poltava,Полтавщина,16
608302,608302,49.5879,34.5517,0.3,-6.9,-3.0,0.00,1740803069,1740842677,0.05,...,0.0,0.0,Overcast,2025-03-01 22:00:00,Полтава,Полтавська,Полтава,Poltava,Полтавщина,16
608303,608303,49.5879,34.5517,0.3,-6.9,-3.0,0.00,1740803069,1740842677,0.05,...,0.0,0.0,Overcast,2025-03-01 23:00:00,Полтава,Полтавська,Полтава,Poltava,Полтавщина,16

In [10]:
alarms

,Unnamed: 0,region_city,all_region,start_epoch,end_epoch,hour_time
0,0,Львівська,1,1645688597,1645696348,2022-02-24 07:00:00
1,1,Львівська,1,1645688597,1645696348,2022-02-24 08:00:00
2,2,Львівська,1,1645688597,1645696348,2022-02-24 09:00:00
3,3,Львівська,1,1645688597,1645696348,2022-02-24 10:00:00
4,4,Чернігівська,1,1645711243,1645722703,2022-02-24 14:00:00
...,...,...,...,...,...,...
179416,179416,Житомирська,1,1740871567,1740883406,2025-03-01 23:00:00
179417,179417,Житомирська,1,1740871567,1740883406,2025-03-02 00:00:00
179418,179418,Житомирська,1,1740871567,1740883406,2025-03-02 01:00:00
179419,179419,Житомирська,1,1740871567,1740883406,2025-03-02 02:00:00
179420,179420,Житомирська,1,1740871567,1740883406,2025-03-02 03:00:00

In [7]:
mapping = dict(zip(regions['region'], regions['region_alt']))
alarms['region_title'] = alarms['region_city'].map(mapping)
alarms.drop("region_city", axis=1, inplace=True)

In [9]:
alarms_copy = alarms.copy().add_prefix("event_")

In [11]:
weather_reg_alarms = weather_reg.merge(alarms_copy,
                                       how="left",
                                       left_on=["region", "datetime"],
                                       right_on=["event_region_city", "event_hour_time"])

In [16]:
weather_reg["region"].unique()

array(['Волинська', 'Кіровоградська', 'Дніпропетровська', 'Київська',
       'Херсонська', 'Чернівецька', 'Чернігівська', 'Одеська',
       'Миколаївська', 'Харківська', 'Хмельницька', 'Донецька',
       'Закарпатська', 'Запорізька', 'Рівненська', 'Житомирська',
       'Тернопільська', 'Полтавська', 'Львівська', 'Івано-Франківська',
       'Черкаська', 'Сумська', 'Вінницька'], dtype=object)

In [17]:
alarms_copy["event_region_city"].unique()

array(['Львівська', 'Чернігівська', 'Вінницька', 'Харківська',
       'Тернопільська', 'Київ', 'Рівненська', 'Черкаська', 'Одеська',
       'Запорізька', 'Волинська', 'Житомирська', 'Херсонська',
       'Миколаївська', 'Хмельницька', 'Івано-Франківська',
       'Дніпропетровська', 'Кіровоградська', 'Чернівецька', 'Полтавська',
       'Сумська', 'Донецька', 'Закарпатська', 'Крим'], dtype=object)

In [12]:
weather_reg_alarms.head()

,Unnamed: 0,city_latitude,city_longitude,day_tempmax,day_tempmin,day_temp,day_precipcover,day_sunriseEpoch,day_sunsetEpoch,day_moonphase,...,center_city_ua,center_city_en,region_alt,region_id,event_Unnamed: 0,event_region_city,event_all_region,event_start_epoch,event_end_epoch,event_hour_time
0,0,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,Луцьк,Lutsk,Волинь,3,NaN,NaN,NaN,NaN,NaN,NaN
1,1,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,Луцьк,Lutsk,Волинь,3,NaN,NaN,NaN,NaN,NaN,NaN
2,2,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,Луцьк,Lutsk,Волинь,3,NaN,NaN,NaN,NaN,NaN,NaN
3,3,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,Луцьк,Lutsk,Волинь,3,NaN,NaN,NaN,NaN,NaN,NaN
4,4,50.7469,25.3263,4.9,0.7,2.6,4.17,1645679616,1645717866,0.77,...,Луцьк,Lutsk,Волинь,3,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
weather_reg_alarms[(weather_reg_alarms["region_id"] == 2) & (weather_reg_alarms["event_start_epoch"] is not None)]

,Unnamed: 0,city_latitude,city_longitude,day_tempmax,day_tempmin,day_temp,day_precipcover,day_sunriseEpoch,day_sunsetEpoch,day_moonphase,...,center_city_ua,center_city_en,region_alt,region_id,event_Unnamed: 0,event_region_city,event_all_region,event_start_epoch,event_end_epoch,event_hour_time
179133,174768,49.2336,28.4486,5.0,0.7,2.8,4.17,1645678729,1645717252,0.77,...,Вінниця,Vinnytsia,Вінниччина,2,NaN,NaN,NaN,NaN,NaN,NaN
179134,174769,49.2336,28.4486,5.0,0.7,2.8,4.17,1645678729,1645717252,0.77,...,Вінниця,Vinnytsia,Вінниччина,2,NaN,NaN,NaN,NaN,NaN,NaN
179135,174770,49.2336,28.4486,5.0,0.7,2.8,4.17,1645678729,1645717252,0.77,...,Вінниця,Vinnytsia,Вінниччина,2,NaN,NaN,NaN,NaN,NaN,NaN
179136,174771,49.2336,28.4486,5.0,0.7,2.8,4.17,1645678729,1645717252,0.77,...,Вінниця,Vinnytsia,Вінниччина,2,NaN,NaN,NaN,NaN,NaN,NaN
179137,174772,49.2336,28.4486,5.0,0.7,2.8,4.17,1645678729,1645717252,0.77,...,Вінниця,Vinnytsia,Вінниччина,2,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590993,571291,49.2336,28.4486,1.7,-0.6,0.6,8.33,1740804507,1740844168,0.05,...,Вінниця,Vinnytsia,Вінниччина,2,NaN,NaN,NaN,NaN,NaN,NaN
590994,571292,49.2336,28.4486,1.7,-0.6,0.6,8.33,1740804507,1740844168,0.05,...,Вінниця,Vinnytsia,Вінниччина,2,NaN,NaN,NaN,NaN,NaN,NaN
590995,571293,49.2336,28.4486,1.7,-0.6,0.6,8.33,1740804507,1740844168,0.05,...,Вінниця,Vinnytsia,Вінниччина,2,NaN,NaN,NaN,NaN,NaN,NaN
590996,571294,49.2336,28.4486,1.7,-0.6,0.6,8.33,1740804507,1740844168,0.05,...,Вінниця,Vinnytsia,Вінниччина,2,NaN,NaN,NaN,NaN,NaN,NaN
590997,571295,49.2336,28.4486,1.7,-0.6,0.6,8.33,1740804507,1740844168,0.05,...,Вінниця,Vinnytsia,Вінниччина,2,179411.0,Вінницька,1.0,1.740872e+09,1.740883e+09,2025-03-01 23:00:00

In [ ]:
weather_reg_alarms.to_csv("final_dataset.csv", index=False)

In [ ]:
weather_reg_alarms.head()

In [ ]:
weather_reg_alarms["city_resolvedAddress"].value_counts()

Щоб перевірити треба подивитися кількість тривог більше 1 години, і порівняти

In [ ]:
weather_reg_alarms.head()

In [ ]:
isw_df = pd.read_csv('data_analysis/isw_matrix_with_dates.csv')

In [ ]:
isw_df.head()

In [ ]:
weather_reg_alarms['datetime'] = pd.to_datetime(
    weather_reg_alarms['day_datetime'].astype(str) + ' ' + weather_reg_alarms['hour_datetime'].astype(str),
    format='%Y-%m-%d %H:%M:%S'
)

In [ ]:
weather_reg_alarms.head()

In [ ]:
isw_df["day_datetime"] = pd.to_datetime(isw_df["day_datetime"])

In [ ]:
isw_df["day_datetime"].dtype

In [ ]:
final_merged = weather_reg_alarms.merge(isw_df,
                                        how="left",
                                        left_on=["datetime"],
                                        right_on=["day_datetime"])

In [ ]:
final_merged[final_merged["day_datetime_x"] == "2022-02-25"].head()

In [ ]:
final_merged.to_csv("final_dataset.csv", index=False)